﻿
/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Roboto', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}

/* IMPORTAÇÃO DE FONTES */
  @font-face {
    font-family: Ananda;
    src: url('fonts/Ananda-Personal-Use.otf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: NatureBeauty;
    src: url('fonts/NatureBeautyPersonalUser.otf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: Romanica;
    src: url('fonts/Romanica.otf');
    font-weight: normal;
    font-style: normal;
  }

/* DECLARAÇÃO DE VARIÁVEIS GERAIS */
  :root{
  /*FONTS*/
  --fontMontserrat:'Montserrat', sans-serif;
  --fontRobotoSlab:'Roboto Slab', serif;
  --fontRobotoCondensed:'Roboto Condensed', sans-serif;
  --fontRoboto:'Roboto', sans-serif;


  /*COMO USAR AS VARIÁVEIS*
    color: var(--fontreleway);
  */
  }

/* BODY */
  body{
  }
  body.travarScroll{
    overflow: hidden;
  }


/*RODAPÉ*/
  .rodape{
    background-color: #362c3a;
    padding-bottom: 50px;
  }
    .rodape .bordaSuperior{
      min-height: 2px;
      background: #eec9c8;
      margin-top: 50px;
      margin-bottom: 40px;
    }
    .rodape a {
      display: block;
      text-decoration: none;
      width: 100%;
      max-width: 150px;
    } 
      .rodape a figure.logoAk {
        width: 100%;
      }
        .rodape a figure.logoAk img {
          width: 100%;
          height: auto;
        }
    .rodape p.copyright{
      font-family: var(--fontRobotoCondensed);
      font-weight: lighter;
      color: #eec9c8;
      font-size: 23px;
      width: 100%;
      text-align: center;
      margin-top: 21px;
    }
    .rodape ul.socialNetworks {
      list-style: none;
      width: 100%;
      max-width: 100px;
      position: absolute;
      right: 0;
      top: 10px;
    }
      .rodape ul.socialNetworks li {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 0 5px;
      }
        .rodape ul.socialNetworks li a {
          text-decoration: none;
        }
          .rodape ul.socialNetworks li a img{
            width: 100%;
            height: auto;
          }
  


/*PÁGINA INICIAL*/
  .pg-inicial {
  }
    .pg-inicial section.welcomePlataform {
      background: url(img/fundobody.png);
      width: 100%;
      min-height: 790px;
      background-size: cover!important;
      background-position: 2px -42px!important;
      position: relative;
      background-attachment: fixed!important;
      animation: animatedBackground 44s linear infinite;
      -moz-animation: animatedBackground 44s linear infinite;
      -webkit-animation: animatedBackground 44s linear infinite;
      -ms-animation: animatedBackground 44s linear infinite;
      -o-animation: animatedBackground 44s linear infinite;
    }
    .pg-inicial section.welcomePlataform:before{
      content: "";
      background: url(img/arvoresesquerda.png);
      width: 100%;
      height: 682px;
      position: absolute;
      bottom: 0;
      background-size: cover!important;
      background-position: 0px 0px!important;
      z-index: 1;
      max-width: 1367px;
    } 
    .pg-inicial section.welcomePlataform:after{
      content: "";
      background: url(img/arvoresdireita.png);
      bottom: 0;
      background-size: cover!important;
      background-position: 0px 0px!important;
      width: 100%;
      height: 672px;
      position: absolute;
      right: 0;
      max-width: 637px;
      z-index: 2;
    }  
      .pg-inicial section.welcomePlataform h6 {
        font-family: Ananda;
        font-size: 100px;
        padding: 0;
        position: absolute;
        width: 100%;
        max-width: 547px;
        margin: 0 auto;
        left: 50%;
        top: 60%;
        transform: translate(-50%,-50%);
        text-align: center;
      }
     
    .pg-inicial section.aboutPlataform {
      background-color: #372d3b;
      padding-top: 40px;
      padding-bottom: 80px;
      position: relative;
    }
    .pg-inicial section.aboutPlataform:after {
      content: "";
      background: url(img/afterSobre.png);
      width: 100%;
      min-height: 169px;
      display: block;
      bottom: -167px;
      position: absolute;
      background-size: cover!important;
      background-position: center!important;
    }
      .pg-inicial section.aboutPlataform h6 {
        width: 100%;
        min-height: 50px;
        text-align: center;
        font-size: 31px;
        font-family: var(--fontMontserrat);
        font-weight: 600;
        font-style: italic;
        color: #f6dddf;
        position: relative;
        margin-bottom: 60px;
      }
      .pg-inicial section.aboutPlataform h6:after {
        content: "";
        background: url(img/bordainferior.png);
        width: 100%;
        display: block;
        min-height: 14px;
        text-align: center;
        background-size: cover!important;
        background-position: center!important;
        max-width: 340px;
        margin: 0 auto;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);      }
      .pg-inicial section.aboutPlataform figure {
        width: 100%;
      }
        .pg-inicial section.aboutPlataform figure img {
        width: 49%;
  height: auto;
  /* max-width: 282px; */
  display: inline-block;
  border-radius: 10px;
  margin-left: 3px;
  border:solid 5px #fff;
        }
      .pg-inicial section.aboutPlataform .textContent {
        width: 100%;
        max-width: 515px;
        margin: 0 auto;
        padding-left: 40px;
      }
        .pg-inicial section.aboutPlataform .textContent p {
          color: #f6dddf;
          font-family: var(--fontMontserrat);
          font-size: 19px;
          text-align: left;
          font-style: normal;
          font-weight: normal;
          text-indent: 35px;
        }
    .pg-inicial section.mosaicLayers {
      background: url(img/fundoMosaicos.png);
      padding-top: 370px;
      background-attachment: fixed!important;
      
    }
 .widget_wysija_cont .updated{
  background-color: #05a25a;
  border-color: #ffffff;
  color: #fff;
  font-size: 16px;
  text-align: center;
 }

/*FORMULARIO*/
    .formularioCadastro{
        padding: 10px;
    }
      .formularioCadastro input{
        display: block;
        width:100%;
        outline: none;
      }
      .formularioCadastro input[type="text"]{
        background: #372d3b;
        height: 45px;
        border: none;
        border: solid 1px #fff;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        font-size: 17px;
        color:#fff;
      } 
      .formularioCadastro input[type="text"]::-webkit-input-placeholder {
   color: #fff;
   font-size: 17px;
   
}

.formularioCadastro input[type="text"]:-moz-placeholder {
   color: #fff;
   font-size: 17px;
  
}

.formularioCadastro input[type="text"]::-moz-placeholder {
   color: #fff; 
   font-size: 17px; 
   
}

.formularioCadastro input[type="text"]:-ms-input-placeholder {  
   color: #fff; 
   font-size: 17px; 
   
}
      .formularioCadastro input[type="submit"]{
            background: #df9c9d;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
      }
/*EXTRAS*/
  @keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
  }
  @-moz-keyframes animatedBackground {
      0% { background-position: 0 0; }
      100% { background-position: -300px 0; }
  }
  @-webkit-keyframes animatedBackground {
      0% { background-position: 0 0; }
      100% { background-position: -300px 0; }
  }
  @-ms-keyframes animatedBackground {
      0% { background-position: 0 0; }
      100% { background-position: -300px 0; }
  }
  @-o-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
  }
  ::-webkit-scrollbar{ 
    background: #372d3b;
    width: 5px;

  }
  ::-webkit-scrollbar-button{ 
   background: #df9c9d;
  }
  ::-webkit-scrollbar-track{ 
    

  }
  ::-webkit-scrollbar-track-piece {
   }
  ::-webkit-scrollbar-thumb{ 
    background: #df9c9d;
  }
  ::-webkit-scrollbar-corner       { /* 6 */ }
  ::-webkit-resizer                { /* 7 */ }

/*@MEDIA QUERY*/
  @media(max-width: 1367px){
    .pg-inicial section.welcomePlataform:before {
      height: 671px;
      background-position: 0px 0px!important;
      z-index: 3;
      max-width: 1367px;
    }
    .pg-inicial section.welcomePlataform:after {
      background-position: 0px 0px!important;
      height: 672px;
      max-width: 637px;
      z-index: 2;
    }
  }
  @media(max-width: 1200px){
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li {
      width: 49%;
      min-height: 180px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li figure img {
      max-width: 150px;
    }
    .pg-inicial section.welcomePlataform h6 {
      font-size: 70px;
    }
    .pg-inicial section.welcomePlataform:before {
      height: 550px;
      width: 100%;
      max-width: 1224px;
    }
    .pg-inicial section.welcomePlataform:after {
      height: 570px;
      max-width: 520px;
      background-position: -28px 0px!important;
    }
    .pg-inicial section.welcomePlataform {
      min-height: 630px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore{
      right: -358px;
    }
  }

  @media(max-width: 991px){
    .pg-contato section.contactPlataform form input[type="text"]{
      max-width: 100%;
    }
    .pg-inicial section.aboutPlataform figure {
      text-align: center;
    }
    .pg-inicial section.aboutPlataform .textContent {
      padding: 50px 10px 0 10px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon span{
      font-size: 23px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li figure img {
      max-width: 120px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li h3 {
      font-size: 28px;
    }
    .pg-inicial section.projectInfo .antiSkew h6, .pg-inicial section.projectInfo .antiSkew .projectIdealizer h2, .pg-inicial section.projectInfo .antiSkew .participatingModels h4 {
      font-size: 39px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo {
      max-width: 350px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo figure img{
      max-width: 250px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo h3.idealizerName{
      font-size: 37px;
    }
    .pg-inicial section.projectInfo .antiSkew .participatingModels .carouselModels .item figure{
      max-width: 180px;
    }
    .pg-inicial section.welcomePlataform h6 {
      font-size: 55px;
    }
    .pg-inicial section.welcomePlataform:before {
      height: 470px;
      max-width: 970px;
    }
    .pg-inicial section.welcomePlataform:after {
      height: 480px;
        max-width: 410px;
    }
    .pg-inicial section.welcomePlataform {
      min-height: 570px;
    }
    .pg-modal .infoPagina .conteudo p {
      padding: 0 20px;
    }
    .pg-inicial section.mosaicLayers{
      min-height: 1214px;
      padding-top: 290px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore {
      right: -160px;
      top: 330px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore:before{
      border-top: 23px solid transparent;
      border-right: 23px solid transparent;
      border-bottom: 23px solid #df9c9d;
      border-left: 23px solid transparent;
      left: 25px;
      top: -43px;
      transform: none;
    }
       
  }
  @media(max-width: 850px){
    .pg-inicial section.welcomePlataform h6 {
        font-size: 50px;
        z-index: 1;
    }
    .pg-inicial section.welcomePlataform:before {
        height: 465px;
    }
    .pg-inicial section.welcomePlataform:after {
        height: 473px;
        max-width: 400px;
    }
  }
  @media(max-width: 767px){
    .pg-contato section.contactPlataform h6 {
      font-size: 18px;
      padding: 0 10px;

    }
     .pg-contato section.contactPlataform .imagemContato figure img{
    }

    .pg-contato section.contactPlataform form .button{
      text-align: left;
    }
    .pg-contato section.contactPlataform form .info {
       padding: 0 10px;
    }
    .pg-contato section.contactPlataform form .textarea, .pg-contato section.contactPlataform form .button {
       padding: 0 10px;
    }
    .pg-inicial section.aboutPlataform h6 {
      font-size: 22px;
      padding: 0 10px;  
    }
    .pg-inicial section.aboutPlataform h6:after{
      max-width: 280px;
      min-height: 10px;
      bottom: -7px;
    }
    .pg-inicial section.aboutPlataform figure img {
      max-width: 500px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon {
      max-width: 220px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon span{
      font-size: 20px;
    }
    .pg-inicial section.mosaicLayers {
      background-attachment: initial!important; 
      padding-top: 330px;
    }
    .pg-inicial section.projectInfo .antiSkew h6, .pg-inicial section.projectInfo .antiSkew .projectIdealizer h2, .pg-inicial section.projectInfo .antiSkew .participatingModels h4 {
      font-size: 28px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo figure img {
      max-width: 230px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo h3.idealizerName {
      font-size: 29px;
    }
    .pg-inicial section.projectInfo:after {
      min-height: 128px;
      bottom: -77px;
    }
    .pg-inicial section.partners h6:after {
      min-height: 10px;
      max-width: 250px;
    }
    .pg-inicial section.partners h6 {
      font-size: 25px;
    }
    .rodape ul.socialNetworks {
      position: initial;
      margin: 30px auto 0;
    }
    .rodape p.copyright {
      text-align: center;
      margin-top: 41px;
      font-size: 20px;
    }
    .rodape a {
      margin: 0 auto;
    }
    .pg-inicial section.welcomePlataform {
      min-height: 450px;
      background-attachment: initial!important;
    }
    .pg-inicial section.welcomePlataform:before {
      height: 355px;
    }
    .pg-inicial section.welcomePlataform h6 {
      font-size: 30px;
    }
    .pg-inicial section.welcomePlataform:after {
      height: 363px;
      max-width: 300px;
    }
    .topo .navbar button {
      border: 1px solid #697a81;
      float: initial;
      position: absolute;
      right: 20px;
      top: -50px;
    }
    .topo .navbar button span {
      border: 1px solid #697a81;
    }
    .topo .navbar .navbar-header nav.navbar-collapse ul li {
      float: initial;
      display: block;
      text-transform: uppercase;
      text-align: left;
      width: 100%;
      max-width: 150px;
    }
    .topo .navbar .navbar-header nav.navbar-collapse ul {
      width: 100%;
      background: #f5dddf;
      margin: 0;
    }
    .topo a.logoPlataforma {
      text-align: center;
      display: block;
      padding-left: 0;
      background: #f5dddf;
    }
    .topo .navbar .navbar-header nav.navbar-collapse{
      border-top: 0px solid transparent;
      box-shadow: none;
    }
    .pg-modal .infoPagina h6.tituloPagina {
      font-size: 30px;
    }
    .pg-modal .infoPagina .conteudo p {
      font-size: 18px;
      padding: 0 15px;
    }
    .pg-modal .infoPagina a.linkModal {
      font-size:18px;    
      padding: 4px 25px;
      border-radius: 10px;
      margin-bottom: 20px;
    }
    .pg-modal {
      overflow-y:scroll;
    }
    .pg-modal .infoPagina span.fecharModal {
      font-size: 25px;
    }
    .pg-modal .infoPagina {
      height: auto;
      min-height: 70vh;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore {
      right: -184px;
      top: 274px;
    }
  }
  @media(max-width: 610px){
    .pg-inicial section.aboutPlataform h6 {
      font-size: 20px;
    }
    .pg-inicial section.aboutPlataform figure img {
      max-width: 390px;
    }
    .pg-inicial section.aboutPlataform .textContent {
      max-width: 410px;
    }
    .pg-inicial section.aboutPlataform .textContent p {
      font-size: 17px;
    }
    .pg-inicial section.aboutPlataform h6::after {
      max-width: 250px;
      min-height: 8px;
    }
    .pg-inicial section.aboutPlataform {
      padding-bottom: 40px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon {
      max-width: 190px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonUp {
      top: -200px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonDown {
      top: 200px;
    }
    .pg-inicial section.mosaicLayers {
      padding-top: 270px;
      min-height: 1150px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon span{
      font-size: 18px;
    }
    .pg-inicial section.welcomePlataform {
      min-height: 377px;
    }
    .pg-inicial section.welcomePlataform:before {
      height: 299px;
    }
    .pg-inicial section.welcomePlataform h6 {
      top: 65%;
    }
    .pg-inicial section.welcomePlataform:after {
      height: 303px;
      max-width: 277px;
      background-position: -7px 0px!important;
    }
    .topo .navbar button{
      top: -47px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo {
      max-width: 200px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo h3.idealizerName {
      font-size: 23px;
    }
    .pg-inicial section.projectInfo{
      min-height: 1664px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore {
      right: -164px;
      top: 242px;
      width: 307px;
      min-height: 67px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore span.tooltipStore{
      font-size: 15px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore:before {
      left: 29px;
      top: -43px;
    }
  }
  @media(max-width: 520px){
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon {
      max-width: 160px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonLeft, .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonRight{ 
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonDown {
      top: 160px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon span{
      font-size: 15px;
    }
    .pg-inicial section.welcomePlataform {
     min-height: 322px;
    }
    .pg-inicial section.welcomePlataform:before {
      height: 242px;
    }
    .pg-inicial section.welcomePlataform h6 {
      font-size: 29px;
      max-width: 250px; 
    }
    .pg-inicial section.welcomePlataform:after {
      height: 247px;
      max-width: 251px;
      background-position: 0px 0px!important;
    }
   
    .pg-inicial section.projectInfo .antiSkew h6, .pg-inicial section.projectInfo .antiSkew .projectIdealizer h2, .pg-inicial section.projectInfo .antiSkew .participatingModels h4 {
      padding: 0 10px;
    }
    .pg-inicial section.aboutPlataform figure img {
      max-width: 340px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li figure img {
      max-width: 113px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li h3 {
      font-size: 22px;
    }
    .pg-inicial section.projectInfo .antiSkew h6, .pg-inicial section.projectInfo .antiSkew .projectIdealizer h2, .pg-inicial section.projectInfo .antiSkew .participatingModels h4 {
      font-size: 23px;
    }
    .pg-inicial section.projectInfo .antiSkew .projectIdealizer article.idealizerInfo figure img {
      max-width: 170px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore span.tooltipStore {
      font-size: 14px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore {
      right: 39px;
      top: 219px;
      width: 261px;
      min-height: 67px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore:before {
      border-top: 17px solid transparent;
      border-right: 17px solid transparent;
      border-bottom: 17px solid #df9c9d;
      border-left: 17px solid transparent;
      left: 203px;
      top: -30px;
    }
    .pg-inicial section.mosaicLayers {
      padding-top: 270px;
      min-height: 810px;
   }
   .pg-inicial section.mosaicLayers .hexagonsLists {
      margin-top: 30px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonUp {
      top: -160px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonLeft {
      right: 30px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonRight {
      left: 30px;
    }
  }
  
  @media(max-width: 445px){
    .pg-inicial section.aboutPlataform figure img {
      max-width: 370px;
    }
    .pg-inicial section.aboutPlataform h6 {
      font-size: 18px;
    } 
    .pg-inicial section.aboutPlataform h6:after {
      max-width: 220px;
      min-height: 8px;
    }
    .pg-inicial section.aboutPlataform .textContent {
      max-width: 380px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li {
      padding-bottom: 50px;
    }
    .pg-inicial section.projectInfo .antiSkew .advantagesList ul li:last-child{
      padding-bottom: 0;
    }
    .pg-inicial section.projectInfo .antiSkew .participatingModels .carouselModels .item figure {
      max-width: 150px;
    }
    .pg-inicial section.welcomePlataform {
      min-height: 280px;
    }
    .pg-inicial section.welcomePlataform:before {
        height: 213px;
        max-width: 425px;
    }
    .pg-inicial section.welcomePlataform:after {
      height: 222px;
      max-width: 219px;
    }
    .rodape a {
      max-width: 115px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore {
      right: 31px;
      top: 200px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore:before {
      left: 200px;
      top: -31px;
    }
  }

  @media(max-width: 425px){
    .pg-inicial section.aboutPlataform figure img {
      max-width: 290px;
    }
    .pg-inicial section.aboutPlataform .textContent {
      max-width: 360px;
    }
    .pg-inicial section.mosaicLayers {
      padding-top: 230px;
      min-height: 840px;
    }
    .pg-inicial section.welcomePlataform {
      min-height: 261px;
    }
    .pg-inicial section.welcomePlataform:before {
      height: 175px;
      max-width: 357px;
    }
    .pg-inicial section.welcomePlataform:after {
      height: 179px;
      max-width: 170px;
    }
    .pg-inicial section.aboutPlataform .textContent p {
      font-size: 15px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore:before {
      left: 96px;
      top: -34px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon .popupStore {
      right: -40%;
      top: 178px;
      width: 230px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists {
      margin-top: 90px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon {
      max-width: 130px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonRight {
      left: 20px;
    }
    .pg-inicial section.mosaicLayers .hexagonsLists .hexagon.hexagonLeft {
      right: 20px;
    }
  }
  @media(max-width: 320px){
  }
